@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* CEK BAGIAN INI */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111827; /* Ini warna gray-900 */
        color: white;
    }
}